.works {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.contact-page-link {
    position: fixed;
    top: 10%;
}

.my-works {
    position: fixed;
    top: 5%;
    font-size: xx-large;
    font-weight: bold;
    color: whitesmoke;
    letter-spacing: 4px;
    word-spacing: 8px;
}

#contact-link {
    color: whitesmoke;
    text-decoration: none;
}

.casing {
    margin-top: 150px;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    /*width: 40%;
    height: 634px;*/
    width: 29%;
    height: 490px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: -5px 5px 10px #0c0b0b;
    padding: 2px;
    background-color: rgb(32, 31, 31, 0.4);
    margin-top: 70px;
}

.project-card:hover {
    box-shadow: -7px 7px 12px #0c0b0b;
    transform: scale(1.025);
    transition: all 0.3s ease-in-out;
}

.project-image {
    width: 100%;
    height: 46%;
    display: flex;
    overflow: hidden;
    padding-bottom: 55px;
    border-bottom: black solid;
    border-width: 0.2px;
}

.project-image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-heading {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    width: 72%;
    height: 9%;
    font-size: x-large;
}

.project-links {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-link > a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.project-link {
    width: 45%;
    height: 92%;
    color: rgb(91, 128, 161);
    font-size: larg;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: -3px 3px 10px rgb(86, 133, 174);
    background-color: rgb(0, 0, 0, 0.8);
}

.project-link:hover {
    box-shadow: -3px 3px 40px rgb(86, 133, 174);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1440px) {
    .project-card {
        width: 33%;
        height: 498px;
    }
}

@media screen and (max-width: 1199px) {
    .works {
        margin-top: 200px;
    }

    .project-card {
        height: 538px;
    }
}

@media screen and (max-width: 1024px) {
    .casing {
        width: 100%;
    }

    .project-card {
        width: 41%;
    }
}

@media screen and (max-width: 848px) {
    .project-card {
        width: 43%;
        height: 487px;
    }
}

@media screen and (max-width: 900px) {
    .works {
        width: 100%;
    }
}

@media screen and (max-width: 710px) {
    .project-card {
        width: 64%;
        height: 588px;
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 670px) {
    .project-heading {
        font-size: large;
    }
}

@media screen and (max-width: 540px) {
    .casing {
        margin-top: 0px;
    }

    .project-card {
        width: 75%;
        height: 475px;
    }

    .project-image {
        width: 100%;
        height: 44%;
    }
}

@media screen and (max-width: 396px) {
    .my-works {
        font-size: x-large;
    }

    .project-card {
        width: 94%;
        height: 506px;
    }
}