@import url('./styles/home.css');
@import url('./styles/about.css');
@import url('./styles/works.css');
@import url('./styles/contact.css');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Kumbh Sans', sans-serif;
}